services:
  - type: web
    name: bensxnisaac-portfolio
    env: static
    buildCommand: cd portfolio && bun install && bun run build
    staticPublishPath: portfolio/dist
    headers:
      - path: /*
        name: X-Frame-Options
        value: SAMEORIGIN
    routes:
      - type: rewrite
        source: /*
        destination: /index.html